body {
    font-family: Arial, sans-serif;
    background-color: #eeeeeeb4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.gallery-container {
    width: 90%;
    max-width: 800px;
    overflow: hidden;
    position: relative;
    
}

.gallery {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.gallery-img {
    width: 100%;
    max-width: 100%;
    flex-shrink: 0;

}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: rgb(0, 0, 0);
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
    user-select: none;
    background-color: rgb(229, 221, 221);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    transition: background-color 0.3s ease;
}
.arrow:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.left-arrow {
    left: 0px;
}

.right-arrow {
    right: 0px;
}
